<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div class="container">
            <div class="pb-5 pt-5 first-line">
                IMAFOLIO
            </div>


            <div class="pb-5 pt-5 second-line">
                <div class="row">
                    <div class="col"><a href="#">Unitied States</a></div>
                    <div class="col"><a href="#"></a>Email Sign-Up</a></div>
                    <div class="col"><a href="#"></a>Contact Us</a></div>
                    <div class="col"><a href="#"></a>Apps</div>
                    <div class="col"><a href="#"></a>Follow Us</a></div>
                    <div class="col"><a href="#"></a>California Transparency</a></div>
                    <div class="col"><a href="#"></a>Legal Notice</a></div>
                    <div class="col"><a href="#"></a>Careers</a></div>
                    <div class="col"><a href="#"></a>Sitemap</a></div>
                </div>
            </div>

            <div class="third-line pt-5 pb-5 text-center">
                Shipt to :  Korea
            </div>
        </div>
    </footer>
</div>
</html>