<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav id="mainNav">
        <div>
            <a href="/" class="title">imFolio</a>
        </div>

        <div>
            <a href="#" class="nav-item">Premium</a>
            <a href="#" class="nav-item">Support</a>
            <a href="#" class="nav-item">Download</a>
            <sapn class="nav-item">|</sapn>
            <a href="/board/list" class="nav-item">Repository</a>
            <a href="/member/new" class="nav-item">Sign up</a>
            <a href="/member/login" class="nav-item">Log in</a>
        </div>
    </nav>
</div>
</html>