body {
    margin: 0px;
    font-family: 'Montserrat', 'Raleway', "Apple SD Gothic Neo", "Malgun Gothic", 'Noto Sans', sans-serif;

}

nav {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);


}

a {
    color: #303437;
    text-decoration: none;
}

.nav-item {
    padding: 28px 17px;
    font-weight: 700;
}

.title {
    padding: 28px 17px;
    font-weight: 700;
    width: 70px;
    height: 17px;
    font-size: 40px;
}

/* .container{
  border: solid 1px;
} */

/* main margin */
.margin-main {
    max-width: 584px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
    margin-top: 80px;
}

.login-box{

    display: block;
    width: 100%;
    height: 56px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 230, 232);
    font-size: 16px;

    margin-bottom: 17px

;

}

.login-button {
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 171, 226);
    border-color: rgb(28, 171, 226);
}

.login-button:hover{
    background: #1A6DFF;
    border-color: #1A6DFF;
    color: #fff;
    /* rgb(28, 171, 226); */
}

.join-button{
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: rgb(28, 171, 226);
    border-color: rgb(28, 171, 226);
}

.join-button:hover{

    color: #fff;
    background-color: rgb(28, 171, 226);
    border-color: rgb(28, 171, 226);
}

.first-sen{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    color: rgb(28, 171, 226);
    font-size: 40px;
    font-weight: 400 !important;
}

p{
    margin-top: 30px;

}

input:focus {
    border: 1px solid rgb(37, 137, 201);
}

.last{
    padding-bottom: 240px;
}

.sub-title {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.8px;
    display: inline-block;
    position: relative;
}




.contact-us.layout_section_outer .layout_body {
    margin-top: 0;
    display: flex;
}


.container.container-write {
    max-width: 750px;
}

.form-control {
    box-shadow: none;
    border-radius: 3px;
    padding: 6px 18px;
    height: 50px;
    border-color: #D3D3D3;
    color: #3B4859;
    max-width: 750px;
}

/* @media (min-width: 1280px)
.container {
    width: 1240px;
} */

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.board-first{
    line-height: 1.56;
    letter-spacing: -0.8px;
    color: rgb(28, 171, 226);
    font-size: 40px;
    font-weight
    : 400 !important;
}

.con-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-1{
    box-shadow: none;
    border-radius: 3px;
    padding: 6px 18px;
    border-color: #D3D3D3;
    color: #3B4859;
    max-width: 750px;
}

.button-style {
    padding: 14px 32px;
    background-color: white;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: black 1px solid;
    text-decoration:none
}

.button-style:hover {
    color: #ffffff;
    background-color: #0053D9;
    border-color: #0053D9;
}

.resellerapply_section {
    background: url(https://vendor-cdn.imweb.me/images/main/edu_bg.png) no-repeat center 0;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.text-bright {
    color: #fff;
}

.board_list_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2em;
}

.board_list_info .search_form .search_box {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.8888888889em;
    padding-right: 0.4444444444em;
    padding-bottom: 1px;
}

.board_list_info .search_form .inp {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none !important;
    height: 2.4444444444em;
    padding-left: 0.4444444444em;
    padding-right: 0;
}

.text_hide {
    position: absolute;
    z-index: -1;
    line-height: 1 !important;
    font-size: 1px !important;
    width: 1px !important;
    height: 1px !important;
    color: transparent !important;
    background: transparent !important;
    overflow: hidden !important;
    font-size: 1px;
    text-indent: -99999px;
    opacity: 0.05 !important;
}

.board_list_info .search_form .search_btn {
    display: block;
    flex: 0 0 auto;
    width: 1.7777777778em;
    height: 1.7777777778em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23121212' d='M28.2,25.7l-5.3-5.3c1.3-1.8,2.1-4,2.1-6.4c0-6.1-4.9-11-11-11S3,7.9,3,14s4.9,11,11,11c2.6,0,5-0.9,6.9-2.4 l5.3,5.3c0.6,0.6,1.5,0.6,2.1,0C28.8,27.3,28.8,26.3,28.2,25.7z M14,22c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S18.4,22,14,22z'/%3E%3C/svg%3E%0A") no-repeat center/100% auto
}

.board_list_info .search_form .line {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    overflow: hidden;
}

.board_list_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2em;

}
footer{
    background-color: black;
    color: white;
}

.first-line{
    border-bottom: 1px solid #392d23;
}

.second-line a{
    color: white;
    text-decoration: none;
}

@media  screen and (max-width:48rem){
    .first-line{
        text-align:center;
    }
}

@media screen and(max-width:48rem) {
    .second-line{
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23;
    }

}

.third-line{
    display: none;
}

@media screen and(max-width:48rem) {
    .third-line{
        display: block;
    }
}

