<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2.html}"
>
<div layout:fragment="content">
  <div class="container text-center mt-5 mb-5 d-flex justify-content-center align-items-center border p-3" style="height: 100vh;">
    <div class="">
      <div>
        <h2><strong color="sky" class="board-first ">imFolio를 <br>방문해주셔서 감사합니다</strong></h2>
        <p class="fw-bolder">iamFolio 통해, 포트폴리오를 등록해보세요</p>
      </div>
      <div class="col-12 align-items-center">
        <div class="row align-items-start form-floating mb-3">
          <input type="text" class="col form-control" id="floatingInput" placeholder="Title">
          <label for="floatingInput">Title</label>
        </div>
        <div class="row form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Description">
          <label for="floatingPassword">Description</label>
        </div>
        <div class="row form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 150px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="row mb-3">

          <div class="custom-file">
            <div>ProjectFile</div>
            <input class="form-control" type="file" id="formFileMultiple1" multiple style="height: auto;">

          </div>

          <div class="custom-file">
            <div>대표사진</div>
            <input class="form-control" type="file" id="formFileMultiple" multiple style="height: auto;">

          </div>

        </div>
        <div style="text-align: center;">
          <!-- <button type="button" class="btn btn-info"
              style="max-width:300px; width: 100%; background-color: rgb(28, 171, 226);">등록하기</button> -->
          <button class="button-style">FortFolio 등록하기</button>
        </div>
      </div>
    </div>
  </div>



  <div class="last"></div>


</div>
</html>